<div class="tigers-container">
  <div class="card-background fixed-top">
  </div>
  <div class="card-grid">
    <% @tigers.each do |tiger| %>
      <a href="/tigers/<%= tiger.id %>" class="card-button">
        <div class="card-tiger">
          <!-- <div class="card-link"> -->
            <div class="card-link d-flex align-items-center">
              <%= cl_image_tag tiger.photo, alt: "alttext", class: 'card-image' %>
              <div class="card-details ml-3">
                <p>Name: <%= tiger.name %></p>
                <p>Age: <%= tiger.age %> years old</p>
                <p>Located: <%= tiger.location %></p>
                <p>Price per day: $<%= tiger.price %></p>
              </div>
            </div>
          <!-- </div> -->
        </div>
      </a>
    <% end %>
  </div>
</div>
<div class="footer">

</div>
