<div class="tigers-container">
  <div class="card-background fixed-top">
  </div>
  <div class="card-grid">
    <% @tigers.each do |tiger| %>
      <%= link_to tiger_path(tiger), class: 'card-button d-block' do  %>
        <div class="card">
          <div class="card-tiger d-flex justify-content-around align-items-center" style="background-image: url('<%= cl_image_path tiger.photo %>')"></div>
          <div class="card-tab d-flex justify-content-between align-items-center">
            <p>Melbourne</p>
            <p><strong>$<%= tiger.price %> / day</strong></p>
          </div>
          <div class="card-details">
            <div class="card-left">
              <p><strong><%= tiger.name %></strong>, <%= tiger.age %></p>
              <p><%= tiger.species %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
