<div class="banner-show d-flex justify-content-left align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @tiger.photo %>')">

  <div class="card-show">
    <h1><%= @tiger.name %></h1>
    <p><strong>Age: </strong><%=@tiger.age%> years old</p>
    <p><strong>Species: </strong><%=@tiger.species%></p>
    <p><strong>Location: </strong><%=@tiger.location%></p>
    <p><strong>Price per day: </strong>$<%=@tiger.price%></p>
  </div>
</div>

<div class="container">
  <div class="container-row">

      <div class="card-owner">
        <%= image_tag "ameya", alt: "alttext" %>

        <div class="card-owner-infos">
          <h2> <%= @tiger.user.username %></h2>
          <p><%= @tiger.user.email %></p>
        </div>
      </div>

      <div class="form booking-form">
        <%= simple_form_for [@tiger, @booking] do |f| %>
          <%= f.input :booking_start, as: :date %>
          <%= f.input :booking_end, as: :date %>
          <%= f.submit class: "submit" %>
        <% end %>
      </div>

  </div>
</div>

  <!--
  1. simple form for bookings
  2. need the current_user
  3. need the tiger
  4. input -> booking-start & booking_end
  5. submit -> redirect to booking index -->

