<div class="banner-show d-flex justify-content-left align-items-center" style="background-image: url('<%= cl_image_path @tiger.photo %>')">

  <div class="card-show">
    <div class="card-top d-flex justify-content-between align-items-center">
      <h1 ><%= @tiger.name %></h1>
      <p><strong>$<%=@tiger.price%> / day</strong></p>
    </div>
    <p><strong>Age: </strong><%=@tiger.age%> years old</p>
    <p><strong>Species: </strong><%=@tiger.species%></p>
    <p><strong>Location: </strong><%=@tiger.location%></p>
  </div>
</div>

<div class="container">
  <div class="container-row">

      <div class="card-owner">
        <img src="" alt="">

        <div class="card-right text-left">
          <h1>Owner</h1>
          <h2><%= @tiger.user.username %></h2>
          <p><%= @tiger.user.email %></p>
        </div>
      </div>

      <div class="form booking-form">
        <%= simple_form_for [@tiger, @booking] do |f| %>
          <%= f.input :booking_start, as: :string, required: false, input_html: { class: 'datepicker' } %>
          <%= f.input :booking_end, as: :string, required: false, input_html: { class: 'datepicker' } %>
          <%= f.submit 'book', class: "submit" %>
        <% end %>
      </div>

  </div>
</div>

  <!--
  1. simple form for bookings
  2. need the current_user
  3. need the tiger
  4. input -> booking-start & booking_end
  5. submit -> redirect to booking index -->

