<div class="banner-show d-flex justify-content-left align-items-center" style="background-image: url('<%= cl_image_path @tiger.photo %>')">

  <div class="card-show">
    <div class="card-top d-flex justify-content-between align-items-center">
      <h1 ><%= @tiger.name %></h1>
      <p><strong>$<%=@tiger.price%> / day</strong></p>
    </div>
    <p><strong>Age: </strong><%=@tiger.age%> years old</p>
    <p><strong>Species: </strong><%=@tiger.species%></p>
    <p><strong>Location: </strong><%=@tiger.location%></p>
  </div>
</div>

<div class="container">
  <div class="container-row">

      <div class="card-owner">
        <%= cl_image_tag @tiger.user.photo, class: 'card-img'  %>

        <div class="card-right text-left">
          <h1>Owner</h1>
          <h2><%= @tiger.user.username %></h2>
          <p><%= @tiger.user.email %></p>
        </div>
      </div>

      <div class="form booking-form">
        <%= simple_form_for [@tiger, @booking] do |f| %>
          <%= f.input :booking_start, as: :string, required: false, input_html: { class: 'datepicker' } %>
          <%= f.input :booking_end, as: :string, required: false, input_html: { class: 'datepicker' } %>
          <%= f.submit 'Book', class: "submit" %>
        <% end %>
      </div>

  </div>
  <div class="container">
    <div class="row">
      <h2>Reviews for <%= @tiger.name %></h2>
      <% @tiger.reviews.each do |review| %>
        <div class="card-review d-flex justify-content-between align-items-center">
          <div class="card-left d-flex justify-content-around align-items-center">
            <%= cl_image_tag review.user.photo, alt: "image", class: 'avatar-large' %>
            <div class="card-details mx-3">
              <p><%= review.rating %></p>
              <p><%= review.user.username %></p>
            </div>
          </div>
          <div class="card-right text-left card-grow">
            <%= review.content %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-4">
        <div class="form booking-form my-3">
          <h2>Rate your experience</h2>
          <%= simple_form_for [@tiger, @review] do |f| %>
            <%= f.input :rating, collection: [1, 2, 3, 4, 5], wrapper_html: { class: 'select2' } %>
            <%= f.input :content %>
            <div class="text-right">
              <%= f.submit 'Send your review', class: "submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <!--
  1. simple form for bookings
  2. need the current_user
  3. need the tiger
  4. input -> booking-start & booking_end
  5. submit -> redirect to booking index -->

