<div class="tigers-container">
  <div class="banner-show d-flex justify-content-around align-items-center">
    <h1><%= @tiger.name %></h1>
  </div>
  <div class="booking-form">
    <%= simple_form_for [@tiger, @booking] do |f| %>
      <%= f.input :booking_start, as: :date %>
      <%= f.input :booking_end, as: :date %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="card row">
    <div class="card-tiger col-8">
      <%= @tiger.name %>
      <%= @tiger.age %>
      <%= @tiger.species %>
      <%= @tiger.location %>
      <%= @tiger.price %>
    </div>
    <div class="card-owner col-4">
      <%= @tiger.user.username %>
      <%= @tiger.user.email %>
    </div>
  </div>

  <!--
  1. simple form for bookings
  2. need the current_user
  3. need the tiger
  4. input -> booking-start & booking_end
  5. submit -> redirect to booking index -->
</div>
