<div class="tigers-container">
  <div class="banner">

  </div>
  <div class="card row">
    <div class="card-tiger col-9">
      <%= @tiger.name %>
      <%= @tiger.age %>
      <%= @tiger.species %>
      <%= @tiger.location %>
      <%= @tiger.price %>
    </div>
    <div class="card-owner col-3">
      <%= @tiger.user.username %>
      <%= @tiger.user.email %>
    </div>
  </div>

</div>
