<div class="container-fluid">
    <div class="container-top">
      <h2>Booking Dashboard</h2>
      <h3><small>Last Update on:</small></h3>
    </div>


  <div class="container-booking">

    <div class="box-left w-50">
      <p>Your outgoing bookings:</p>

      <% @outgoing_bookings.each do |booking| %>
        <%= link_to tiger_path(booking.tiger), class: 'card-button d-block' do  %>
          <div class="card-booking">
            <%= cl_image_tag booking.tiger.photo, alt: "alttext" %>

            <div class="infos">
              <h2> <%= booking.tiger.name %></h2>
              <p><strong>Price per day: </strong>$<%=booking.tiger.price%></p>
              <p><strong>start on: </strong><%= booking.booking_start %></p>
              <p><strong>end on: </strong><%= booking.booking_end %></p>
            </div>

            <% if booking.status == 'accepted' %>
              <div class="status">
                <i class="fas fa-circle accepted"></i> <%= booking.status %>
              </div>
            <% elsif booking.status == 'rejected' %>
              <div class="status">
                <i class="fas fa-circle rejected"></i> <%= booking.status %>
              </div>
            <% else %>
              <div class="status">
                <i class="fas fa-circle orange"></i> <%= booking.status %>
              </div>
            <% end %>

          </div>
        <% end %>
      <% end %>

    </div>

    <% if current_user.owner? %>

      <div class="box-right w-50">
        <p>Your incoming bookings:</p>
        <% @incoming_bookings.each do |booking| %>

          <div class="card-booking">
            <%= cl_image_tag booking.tiger.photo, alt: "alttext" %>

            <div class="infos">
              <h2> <%= booking.tiger.name %></h2>
              <p><strong>Price per day: </strong>$<%=booking.tiger.price%></p>
              <p><strong>start on: </strong><%= booking.booking_start %></p>
              <p><strong>end on: </strong><%= booking.booking_end %></p>
              <div class="status">
                <% if booking.status == 'pending' %>
                  <%= link_to 'Accept', accept_booking_path(booking), class: 'btn btn-success', method: :patch %>
                  <%= link_to 'Decline', reject_booking_path(booking), class: 'btn btn-danger', method: :patch %>
                <% end %>
              </div>
            </div>




          </div>

        <% end %>
      </div>

    <% end %>

  </div>
  <% if current_user.owner? %>
    <h2>Your current Tigers:</h2>
    <div class="card-grid">
        <% current_user.tigers.each do |tiger| %>
          <div class="card">
            <div class="card-buttons">
              <%= link_to 'Edit', edit_tiger_path(tiger), class: 'button-link-white'  %>
              <%= link_to '+', tiger_path(tiger), method: :delete, data: { confirm: "Are you sure you want to delete #{tiger.name}?"}, class: 'button-delete'  %>
            </div>
            <%= link_to tiger_path(tiger), class: 'card-link' do  %>
              <div class="card-tiger d-flex justify-content-around align-items-center" style="background-image: url('<%= cl_image_path tiger.photo %>')">
                <p class="card-name"><%= tiger.name %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>


