<div class="tigers-container">
  <div class="cards d-flex justify-content-around align-items-center">
    <div class="card-left">
      <p>Your outgoing bookings:</p>
      <% current_user.bookings.each do |booking| %>
        <div class="d-flex justify-content-center align-items-center">
          <div class="card-left mr-3">
            <p>Schedule:</p>
            <p>Start date: <%= booking.booking_start %></p>
            <p>End date: <%= booking.booking_end %></p>
          </div>
          <div class="card-right d-flex justify-content-center align-items-center ml-3">
            <div class="card-left mr-3">
              <p>Renter</p>
              <p><%= booking.user.username %></p>
              <p><%= booking.user.email %></p>
            </div>
            <div class="card-right ml-3">
              <p>Tiger</p>
              <%= booking.tiger.name %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if current_user.owner? %>
      <div class="card-right">
        <p>Your ingoing bookings:</p>
        <% current_user.tigers.each do |tiger| %>
          <% tiger.bookings.each do |booking| %>
            <div class="d-flex justify-content-center align-items-center">
              <div class="card-left mr-3">
                <p>Schedule:</p>
                <p>Start date: <%= booking.booking_start %></p>
                <p>End date: <%= booking.booking_end %></p>
              </div>
              <div class="card-right d-flex justify-content-center align-items-center ml-3">
                <div class="card-left mr-3">
                  <p>Renter</p>
                  <p><%= booking.user.username %></p>
                  <p><%= booking.user.email %></p>
                </div>
                <div class="card-right ml-3">
                  <p>Tiger</p>
                  <%= booking.tiger.name %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
