<div class="container-fluid">
    <h2>Booking Dashboard</h2>
    <h3><small>Last Update on:</small></h3>


  <div class="container-booking">

    <div class="box-left w-50">
      <p>Your outgoing bookings:</p>

      <% @outgoing_bookings.each do |booking| %>
        <%= link_to tiger_path(booking.tiger), class: 'card-button d-block' do  %>
          <div class="card-booking">
            <%= cl_image_tag booking.tiger.photo, alt: "alttext" %>

            <div class="infos">
              <h2> <%= booking.tiger.name %></h2>
              <p><strong>Price per day: </strong>$<%=booking.tiger.price%></p>
              <p><strong>start on: </strong><%= booking.booking_start %></p>
              <p><strong>end on: </strong><%= booking.booking_end %></p>
            </div>

              <% if booking.status == 'accepted' %>
                <div class="status">
                  <i class="fas fa-circle accepted"></i> <%= booking.status %>
                </div>
              <% elsif booking.status == 'rejected' %>
                <div class="status">
                  <i class="fas fa-circle rejected"></i> <%= booking.status %>
                </div>
              <% else %>
                <div class="status">
                  <i class="fas fa-circle orange"></i> <%= booking.status %>
                </div>
              <% end %>

          </div>
        <% end %>
      <% end %>

    </div>

    <% if current_user.owner? %>

      <div class="box-right w-50">
        <p>Your incoming bookings:</p>
        <% @incoming_bookings.each do |booking| %>

          <div class="card-booking">
            <%= cl_image_tag booking.tiger.photo, alt: "alttext" %>

            <div class="infos">
              <h2> <%= booking.tiger.name %></h2>
              <p><strong>Price per day: </strong>$<%=booking.tiger.price%></p>
              <p><strong>start on: </strong><%= booking.booking_start %></p>
              <p><strong>end on: </strong><%= booking.booking_end %></p>
              <div class="status">
                <% if booking.status == 'pending' %>
                  <%= link_to 'Accept', accept_booking_path(booking), class: 'btn btn-success', method: :patch %>
                  <%= link_to 'Decline', reject_booking_path(booking), class: 'btn btn-danger', method: :patch %>
                <% end %>
              </div>
            </div>




          </div>

        <% end %>
      </div>

    <% end %>

  </div>
</div>


